* {
    font-family: Verdana;
    background-color: black;
    color: white;
    text-align: center
}

h1 {
    font-weight: normal;
    font-size: 50;
}

h2 {
    font-weight: 300;
    font-size: 42;
}

#p1 {
    color: aquamarine;
    font-size: 16;
}

#p2 {
    font-size: 21;    
    color: gray;
}

#p3 {
    text-align: right;
    color:gray;
}